
{% extends 'base.html.twig' %}

{% block title %}Ticket
{% endblock %}

{% block body %}
	<div class="container-fluid">
		<h2>
			Fiche Ticket
		</h2>
		<div class="fade-in">
			<div class="row">
				<div class="col-lg-12">
					<div class="card">
						<div class="card-header">
							<i class="fa fa-align-justify"></i>
							Fiche ticket
						</div>
						<div class="card-body">
							<table class="table table-reponsive-sm">
								<thead>
									<tr>
										<th>Id</th>
										<th>Subject</th>
										<th>Title</th>
										<th>Etat</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td>{{ billet.id }}</td>
										<td>{{ billet.subject }}</td>
										<td>{{ billet.title }}</td>
										<td>{{ billet.etat ? billet.etat|json_encode : '' }}</td>
									</tr>
								</tbody>
							</table>
							<a class="btn btn-sm btn-primary mt-3" type="submit" href="{{ path('billet_edit', {'id': billet.id}) }}">Editer le ticket</a>
							<a href="{{ path('billet_index') }}" class="btn btn-sm btn-info mt-3">Retour à la liste</a>
							{{ include('billet/_delete_form.html.twig') }}
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
